<meta charset='utf-8'>
<meta http-equiv="X-UA-Compatible" content="chrome=1">
<meta name="description" content="Packer plugin for Gradle">

<link rel="stylesheet" type="text/css" media="screen" href="stylesheets/github.css">

<title>Packer Gradle Plugin</title>
